{% extends 'layout.html' %}
{% block main_content %}

<div class="container-fluid">
    <h1 class="row text-center p-4">
      compare your Configuration
    </h1>
    <div class="row p-3">
      <p class="col-md-8">
      The compare your Configuration feature has been removed.
      To compare your Postgres configuration against defaults for your version
      explore the data returned by the following query.  
      </p>

    <pre class="col-md-8">
    SELECT *
        FROM pg_catalog.pg_settings
        WHERE boot_val != setting
    ;
    </pre>

</div>
    

</div>

{% endblock main_content %}