<div>
    <a href="/about">About this tool</a>
    <br />
    © RustProof Labs, {{ year }}

    <br />
    Maintained by
    <a href="https://www.rustprooflabs.com">RustProof Labs</a>.
    
    <br />
    
    <a href="https://www.rustprooflabs.com/contact">Contact</a>
    - -
    <a href="https://www.rustprooflabs.com/tos">Terms of Service</a>
    - -
    <a href="https://www.rustprooflabs.com/privacy-policy">Privacy Policy</a>
    - -
    <a href="https://www.rustprooflabs.com/code-of-ethics">Code of Ethics</a>

</div>